/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}


/*********************/
/* Custom properties */
/*********************/
:root {
  --color-bookcase: #F7D190;
  --color-shelf-background: #B47F60;
  --color-shelf-foreground: #C78B66;
  --color-pink: #F598A0;
  --color-blue: #C7DBF3;
  --color-green: #CEE29D;
  --color-yellow: #FDDF7D;
  --color-text: #B7B0B7;
  --color-white: #FFFFFF;
  --color-beige: #F8E9C7;
}



/************/
/* Bookcase */
/************/
main>nav {
  background-color: var(--color-bookcase);
  height: 65vh;
  width: 85vw;
  margin: auto;
  margin-top: 10vh;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 5%;
  padding: 7vw;
}


/**********/
/* Shelfs */
/**********/
main>nav>a {
  background-color: var(--color-shelf-background);
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: .7rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

/***************************/
/* Light foreground shelfs */
/***************************/
.foreground {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-color: var(--color-shelf-foreground);
  height: 85%;
  width: 85%;
  margin-top: auto;
  border-radius: 0 2rem 0 .7rem;
}


/*********************/
/* Shelf 1, about me */
/*********************/






/******************/
/* Shelf 2, plant */
/******************/
main>nav>a:nth-of-type(2)>div:first-of-type {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
}

main>nav>a:nth-of-type(2)>div:first-of-type>div {
  position: absolute;
}

/* Plantenpot rand */
main>nav>a:nth-of-type(2)>div:first-of-type>div:last-of-type {
  height: .7rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
  bottom: 2.3rem;
}

/* Plantenpot bakje*/
main>nav>a:nth-of-type(2)>div:first-of-type>div:last-of-type::after {
  content: "";
  display: inline-block;
  height: 3rem;
  width: 3.2rem;
  background-color: var(--color-beige);
  border-radius: .7rem;
  z-index: 0;
}

/* Stam cactus */
main>nav>a:nth-of-type(2)>div:first-of-type>div:last-of-type::before {
  content: "";
  display: inline-block;
  height: 5rem;
  width: 1.8rem;
  background-color: var(--color-green);
  border-radius: .7rem;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

/* Takje links horizontaal */
main>nav>a:nth-of-type(2)>div:first-of-type>div:first-of-type {
  height: .9rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: var(--color-green);
  bottom: 3.8rem;
  left: 1.8rem;
}

/* Takje links verticaal */
main>nav>a:nth-of-type(2)>div:first-of-type>div:first-of-type::after {
  content: "";
  display: block;
  height: 2.5rem;
  width: .9rem;
  border-radius: 1rem;
  background-color: var(--color-green);
  position: absolute;
  bottom: 0rem;
}

/* Takje rechts horizontaal */
main>nav>a:nth-of-type(2)>div:first-of-type>div:nth-of-type(2) {
  height: .9rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: var(--color-green);
  bottom: 4.8rem;
  right: 1.7rem;
}

/* Takje rechts verticaal */
main>nav>a:nth-of-type(2)>div:first-of-type>div:nth-of-type(2)::after {
  content: "";
  display: block;
  height: 2.5rem;
  width: .9rem;
  border-radius: 1rem;
  background-color: var(--color-green);
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}



/******************/
/* Shelf 3, photo */
/******************/





/************************/
/* Shelf 4, repos pt. 1 */
/************************/




/************************/
/* Shelf 5, repos pt. 2 */
/************************/




/********************/
/* Shelf 6, contact */
/********************/






/****************/
/* Mediaqueries */
/****************/

@media(min-width: 1024px) {
  main>nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}