/*************/
/* CSS Reset */
/*************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}




/* TIJDELIJK!!!!!!!!!!! */
/************************/
h2,
p {
  display: none;
}


/*********************/
/* Custom properties */
/*********************/
:root {
  --color-bookcase: #F7D190;
  --color-shelf-background: #B47F60;
  --color-shelf-foreground: #C78B66;
  --color-pink: #F598A0;
  --color-blue: #C7DBF3;
  --color-green: #CEE29D;
  --color-yellow: #FDDF7D;
  --color-text: #B7B0B7;
  --color-white: #FFFFFF;
  --color-beige: #F8E9C7;
}

main>div {
  background-color: var(--color-bookcase);
  height: 75vh;
  width: 85vw;
  margin: auto;
  margin-top: 7vh;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 5%;
  padding: 7vw;
}

main>div>section {
  background-color: var(--color-shelf-background);
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: .7rem;
  display: flex;
}

main>div>section>div{
  background-color: var(--color-shelf-foreground);
  height: 80%;
  width: 80%;
  margin-top: auto;
}